@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,400;0,900;1,400;1,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
  }
  
  body {
  

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  li {
    list-style: none;
  }
  
  li a {
    text-decoration: none;
    color: #333;
  }
  
  .wrapper {
    width: 78%;
    margin: auto;
  }
  

  
  .highlight {
    color: rgb(43, 43, 43);
    font-weight: bold;
  }
  
  /* header starts > */
  
  header {
    background-color: #ecf0f1;
    height: 521px;
    overflow: hidden;
  }
  
  #nav-menu a {
    color: #2ecc71;
    font-weight: 600;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    background: #323f4e;
    align-items: center;
    padding: 28px;
    border-top: 5px solid #2ecc71;
    height: 36px;
    line-height: 36px;
  }
  
  #logo {
    float: left;
  }
  
  #nav-menu {
    float: right;
  }
  
  ul#nav-links-ul {
    display: flex;
  }
  
  ul#nav-links-ul li a {
    font-size: 14px;
    padding: 8px 20px;
    border-right: 1px solid #2ecc71;
    transition: 0.9s;
  }
  
  ul#nav-links-ul li:last-child > a {
    border-right: none;
  }
  
  ul#nav-links-ul li a:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.88);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  ul#nav-links-ul li:hover:nth-child(2) > a,
  ul#nav-links-ul li:hover:nth-child(3) > a {
    border-radius: 0;
  }
  
  ul#nav-links-ul li a:hover:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  /*  < navbar end */
  
  /* showcase starts >*/
  
  div#showcase {
    display: flex;
    padding: 50px 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  div#showcase-bg {
    background-color: #2ecc71;
    height: 119vh;
  }
  
  div#showcase-left {
    float: left;
  }
  
  div#showcase-right {
    position: relative;
    font-size: 17px;
    float: right;
    padding: 30px 38px;
    width: 441px;
    color: white;
    margin: auto;
    left: -22px;
  }
  
  div#showcase-right-text h2,
  div#showcase-right-text p {
    font-weight: 400;
  }
  
  div#showcase-right-text p {
   
    font-size: 14px;
    line-height: 21px;
  }
  
  div#showcase-right-img h2 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 9px 0;
  }
  
  #apple-pic {
    padding-right: 20px;
  }
  .app-green-wrap h1{
    display: block;
    }
    .app-green{
        
        display: table;
        width: 1000px;
        color: #fff;
        margin: 0 auto 50px auto;
        background: #2ecc71;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    
    
    }
    .half-grid{
            float: left;
        
        width: 500px;
        color: black;
        margin-top: 50px;
    }
    .container-cf-three-column-icon h1{
      margin: 20px;
      padding: 20px;
      font-weight: initial;
      margin-left: 250px;
    }
    .ab{
      float: left;
      width: 33%;
      text-align: center;
     
      margin-left: 59px;
  
     
  }
  .ab p{
     
      width: 200px;
      margin-left: 150px;
      
      
  }
  
  .ab h2{
      padding: 15px;
      font-size: 20px;
  }
  .bc{
     float: inline-start;
      
      text-align: center;
      
  }
  .bc p{
    width:200px ;
    margin-left: 18px;
}
.bc h2{
    padding: 15px;
    font-size:30px;
}
  .cd{
      float: right;
      width: 19%;
      text-align: center;
     
      margin-right: 267px;
      margin-top :7px;
  }
  .cd p{
      width: 200px;
      margin-left: 50px;
  }
  .cd h2{
      padding: 15px;
      font-size: 30px;
  }
  .html{
    width: 85%;
}
.with{
    float: left;
    margin-top: 30px;
    margin-left: 210px;
}
.bd{
    float: right;
    width: 400px;
    margin-left: 160px;
    margin-top:80px ;
}
.gled{
    float: left;
    margin-top: 100px;
    margin-left: 250px;
    
   
}
.gled p{
    width: 400px;
}
.pic-set{
    float: right;
    margin-top: 50px;
    margin-right: 270px;
}
.profile{
    float: right;
    width: 70%;
    margin-right: 200px;
  
}
.profile h2{
  padding: 40px;
  font-weight: 400;
}

  .gallery section {
    width: 217px;
    margin-right: 30px;
    float: left;
    background: #ecf0f1;
}
.gallery-cf p{
    text-align: center;
    margin-top: 30px;
}
.gallery-cf section{
  width: 224px;
  margin-right: 20px;
  float:left;
  background: #ecf0f1;
  border-radius: 5px;
}
.show-profile {
  background: #ecf0f1;
  position: absolute;
  z-index: 10;
  opacity: 0.0;
  width: 217px;
  height: 187px;
  padding-top: 30px;
}
.show-profile:hover {
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}
.show-profile {
  background: #ecf0f1;
  position: absolute;
  z-index: 10;
  opacity: 0.0;
  width: 217px;
  height: 187px;
  padding-top: 30px;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

  .bio {
    background: #fff;
    padding: 5px;
    border-top: 2px solid #323f4e;
    border-bottom: 2px solid #323f4e;
    margin: 10px;
}


.bio span {
    font-weight: 600;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
a:link, a:visited {
  color: #fff;
  text-decoration: none;
}
.follow {
  display: block;
  padding: 5px;
  background: #f2425b;
  font-weight: 600;
  margin: 10px auto 0 auto;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}
script{
  display: none;
}
.container{
  
    margin: auto;
    width: 960px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}
.container h1 {
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  width: 100%;
  margin-top: 150%;
  padding: 40px;
}

.faq dt {
  color: #fff;
  margin-bottom: 1px;
  padding-left: 50px;
}
.faq dd {
  color: #323f4e;
  background: #ecf0f1;
  padding: 20px;
  margin-bottom: 5px;
  border-bottom-right-radius: 5px;
  font: inherit;
}
.faq .one {
  background: url(images/faq-1.png) left top no-repeat;
  
}
.faq .two {
  background: url(images/faq-2.png) left top no-repeat;
}
.faq dt {
  color: #fff;
  margin-bottom: 1px;
  padding-left: 50px;
}

.faq .one span {
  background: url(images/arrow_blue.png) left top no-repeat #323f4e;
}


.faq dt span {
  cursor: pointer;
  padding: 15px 10px 14px 30px;
  width: 870px;
  display: block;
  border-bottom-right-radius: 5px;
}
.faq .two span {
  background: url(images/arrow_green.png) left top no-repeat #323f4e;
}
dt {
  display: block;
}
.faq .three{
  background: url(images/faq-3.png) left top no-repeat #323f4e;
}
.faq .three span {
  background: url(images/arrow_yellow.png) left top no-repeat #323f4e;
}
.faq .four {
  background: url(images/faq-4.png) left top no-repeat;
}
.faq .four span {
  background: url(images/arrow_orange.png) left top no-repeat #323f4e;
}
.faq .five {
  background: url(images/faq-5.png) left top no-repeat;
}
.faq .five span {
  background: url(images/arrow_red.png) left top no-repeat #323f4e;
}
.container-full {
  background: #2ecc71;
}
.container-full {
  display: table;
  width: 100%;
}
.nl-form {
  width: 960px;
  margin: auto;
  font-size: 25px;
  padding: 20px 0;
}
ol, ul {
  list-style: none;
}
.nl-form ul > li:first-child {
  width: 320px;
  padding-top: 10px;
  color: #fff;
}
.nl-form ul li {
  float: left;
}
.nl-form ul > li:nth-child(2) {
  width: 465px;
}
.nl-form ul li {
  float: left;
}
.nl-form ul > li:last-child {
  width: 175px;
}
.nl-form ul > li:nth-child(2) input {
  width: 430px;
  font-size: 16px;
  padding: 12px;
}
.nl-form ul > li:last-child input {
  color: #fff;
  width: 175px;
  background: #323f4e!important;
  font-weight: 600;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
}
footer div {
  background: #323f4e;
  width: 100%;
}
footer section {
  width: 960px;
  margin: auto;
  padding: 20px 0;
}
.footer-links {
  float: left;
}
footer ul {
  width: 200px;
}
.footer-links > li:first-child {
  margin-bottom: 10px;
}
a:link, a:visited {
  color: #fff;
  text-decoration: none;
}
a:link, a:visited {
  color: #fff;
  text-decoration: none;
}
.footer-media, .footer-media li {
  float: right;
}
footer ul {
  width: 200px;
}
a:link, a:visited {
  color: #fff;
  text-decoration: none;
}
.footer-media li {
  margin-left: 15px;
}

.footer-media, .footer-media li {
  float: right;
}
footer p {
  text-align: center;
  margin: 20px auto 50px auto;
}
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1em;
  display: none;
}